.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.sq-bin {
  display:flex;
  justify-content: center;
  width: 80%;
  flex-wrap: wrap;
  gap: 10px;
  .sq {
    width: 150px;
    height: 150px;
    border-radius: 2px solid #0df80d;
    display: flex;
    justify-content: center;
    align-items: center;
    color: azure;
    background-color: #00ffff;
  }
}

.crc-bin {
  display:flex;
  justify-content: center;
  width: 80%;
  flex-wrap: wrap;
  gap: 10px;
  .crc {
    width: 150px;
    height: 150px;
    border: 2px solid #0d67f8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: azure;
    background-color: #fff200;
  }
}

.squareRed {
  margin: 10px;
  width: 100px;
  height: 100px;
  border-radius: 2px solid #1d0df8;
  display: flex;
  justify-content: center;
  align-items: center;
  color: azure;
  background-color: #ff0019;
}
.squareBlue {
  margin: 10px;
  width: 100px;
  height: 100px;
  border-radius: 2px solid #f8440d;
  display: flex;
  justify-content: center;
  align-items: center;
  color: azure;
  background-color: #0033ff;
}

.circle {
  margin: 10px;
  width: 100px;
  height: 100px;
  border: 2px solid #0d67f8;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: azure;
  background-color: #48ff00;
}

.count {
  font-size: 20px;
  color: #ff00ff;
}