$black: #080708;
$blue: #3772FF;
$red: #DF2935;
$yellow: #FDCA40;
$gray: #E6E8E6;

button {
    background-color: $gray;
    border-radius: 12px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
    transition: 200ms;
    box-sizing: border-box;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    min-width: 100px;
    margin: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    &:not(:disabled):hover,
    &:not(:disabled):focus {
        outline: 0;
        background: darken($gray, 20%);
    }
    &:disabled {
        filter: saturate(0.2) opacity(0.5);
        -webkit-filter: saturate(0.2) opacity(0.5);
        cursor: not-allowed;
    }
    &.black {
        background-color: $black;
        color: white;
        &:not(:disabled):hover,
        &:not(:disabled):focus {
            background: lighten($black, 10%);
        }
    }
    &.blue {
        background-color: $blue;
        color: white;
        &:not(:disabled):hover,
        &:not(:disabled):focus {
            background: darken($blue, 20%);
        }
    }
    &.red {
        background-color: $red;
        color: white;
        &:not(:disabled):hover,
        &:not(:disabled):focus {
            background: darken($red, 20%);
        }
    }
    &.yellow {
        background-color: $yellow;
        color: white;
        &:not(:disabled):hover,
        &:not(:disabled):focus {
            background: darken($yellow, 20%);
        }
    }
}